@import './mixins.scss';

.hero {
	background-image: url("../images/bg-hero.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	height: 485px;
	margin-bottom: 52px;

	&__wrapper {
		@include flex-center-center;
		flex-direction: column;
		height: 100%;
	}

	h1 {
		@include MS-Bold-70-30;
		color: $white;
		margin: 40px 0;
	}

	p {
		@include MS-Medium-20-30;
		color: $white;
		margin-bottom: 62px;
	}
}

.slick-track {
	display: flex;
	align-items: center;

	.single-slide {
		display: flex !important;
		align-items: center;
		justify-content: center;

		img {
			width: 80%;
		}
	}
}

.two-columns {
	@include flex-center-center;
	padding: 0 120px;
	margin-top: 127px;
	margin-bottom: 100px;

	&__column {
		width: 50%;

		&--left {
			h2 {
				@include MS-Bold-35-43;
				margin-bottom: 40px;
			}

			p {
				@include MS-Light-14-18;
				padding-right: 10px;
			}
		}

		&--right {
			img {
				position: relative;
				left: -100px;
			}
		}
	}
}
