@import './mixins.scss';

.hero {
	background-image: url("../images/bg-hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 52px;
	border-radius: 30px;
	padding: 120px 0 100px 0;

	&__wrapper {
		@include flex-center-center;
		flex-direction: column;
		height: 100%;
	}

	h1 {
		@include MS-Bold-70-30;
		color: $white;
		margin: 40px 0;
	}

	p {
		@include MS-Medium-20-30;
		color: $white;
		margin-bottom: 62px;
		text-align: center;
	}

	.slide-down {
		position: relative;
		top: 0;
		animation: float 6s ease-in-out infinite;
	}
}

.slick-track {
	display: flex;
	align-items: center;

	.single-slide {
		display: flex !important;
		align-items: center;
		justify-content: center;

		img {
			width: 80%;
		}
	}
}

.two-columns {
	@include flex-center-center;
	padding: 0 120px;
	margin-top: 127px;
	margin-bottom: 40px;

	&__column {
		width: 50%;

		&--left {
			h2 {
				@include MS-Bold-35-43;
				margin-bottom: 40px;
			}

			p {
				@include MS-Light-14-18;
				padding-right: 10px;
				margin-bottom: 33px;
			}
		}

		&--right {
			img {
				position: relative;
				left: -100px;
			}
		}
	}
}

.counters {
	@include flex-center-center;
	flex-direction: column;
	margin-bottom: 125px;

	h2 {
		@include MS-Bold-35-43;
		margin-bottom: 72px;
	}

	&__wrapper {
		@include flex-center-center;
		width: 100%;
	}

	&__container {
		@include flex-center-center;
		width: 25%;
		flex-direction: column;
		position: relative;

		&:nth-child(-n+3) {
			&::after {
				content: '';
				background-color: $light-gray;
				width: 1px;
				height: 80%;
				position: absolute;
				top: -20px;
				right: 0;
				transform: rotate(25deg)
			}
		}

		p.counter {
			@include MS-Bold-65-55;
			margin: 0 4px;
		}

		p.counter-info {
			@include MS-Light-20-24;
			margin-top: 20px;
			text-align: center;
		}

		.string {
			@include MS-Bold-45-55;
			display: inline-block;

			&--red {
				color: $secondary-color;
			}

			&--black {
				color: $black;
			}
		}
	}
}

@keyframes float {
	0% {
		top: 0;
	}

	50% {
		top: 15px;
	}

	100% {
		top: 0;
	}
}
