/*  variables */

$white: #ffffff;
$black: #000000;
$footer-color: #F5F5F5;
$secondary-color: #D50A0A;

$margin-mobile: 10px;
$margin-tablet: 20px;

$content-width: 1366px;
$transition: 0.4s;

/* layout */

@mixin flex-center-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*  fonts */

@mixin MS-Light-14-18 {
	font-family: "Montserrat-Light";
	font-size: 14px;
	line-height: 18px;
}

@mixin MS-Light-20-24 {
	font-family: "Montserrat-Light";
	font-size: 20px;
	line-height: 24px;
}

@mixin MS-Medium-20-30 {
	font-family: "Montserrat-Regular";
	font-size: 20px;
	line-height: 30px;
}

@mixin MS-Medium-13-16 {
	font-family: "Montserrat-Medium";
	font-size: 13px;
	line-height: 16px;
}

@mixin MS-Bold-70-30 {
	font-family: "Montserrat-Bold";
	font-size: 70px;
	line-height: 30px;
}

@mixin MS-Bold-65-55 {
	font-family: "Montserrat-Bold";
	font-size: 65px;
	line-height: 55px;
}

@mixin MS-Bold-45-55 {
	font-family: "Montserrat-Bold";
	font-size: 45px;
	line-height: 55px;
}

@mixin MS-Bold-35-43 {
	font-family: "Montserrat-Bold";
	font-size: 35px;
	line-height: 43px;
}
