@import './assets/css/mixins.scss';
@import './assets/css/fonts.scss';

@import './assets/css/header.scss';
@import './assets/css/sidebar.scss';
@import './assets/css/footer.scss';

@import './assets/css/home.scss';

.main__wrapper {
	display: flex;
	flex-direction: column;
	// position: relative;
	padding: 0 80px;
	z-index: 1;
	// width: $content-width;
}

.page {
	transition: 0.4s;
	padding-left: 0;
	padding-top: 120px;
	z-index: 1;
	// &.retracted {
	// 	padding-left: 250px;
	// }
}
