@import './assets/css/mixins.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Montserrat-Regular";
}

html,
body {
	height: 100%;
}

body {
	scroll-behavior: smooth;
	position: relative;
	min-height: 100vh;
}

#root {
	width: 1366px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	transition: $transition;
}

button {
	border: none;
	background-color: transparent;
}

ul {
	list-style-type: none;
}
